@model E_Ticaret.ViewModel.ProductViewModel


<div class="row">
    <div class="col-md-12">
        <h1>Admin Products</h1>
        <hr />
        @if(Model.Products.Count()>0) {
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>ID </td>
                    <td>NAME</td>
                    <td>IMAGE</td>
                    <td>PRICE</td>
                    <td></td>
            </thead>

            <tbody>

                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.ProductId </td>
                        <td>@item.Name</td>
                        <td><img src="~/img/@item.ImageUrl" width="80"/></td>
                        <td>@item.Price</td>
                        <td>
                            <a href="/admin/products/@item.ProductId" class="btn btn-primary btn-sm mr-2">Edit</a>
                            <a href="#" class="btn btn-danger btn-sm mr-2">Delete</a>

                        </td>
                    </tr>


                }
            </tbody>

        </table>
        }
        else
        {
            <div class="alert alert-warning">
                <h3>No Products</h3>

            </div>
            
        }

    </div>


</div>