@model E_Ticaret.ViewModel.ProductViewModel

    <partial name="_header">


        <div class="row">
            <div class="col-md-3">
                @await Component.InvokeAsync("Categories")
                <partial name="_search" />
            </div>
            <div class="col-md-9">
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-md-4">
                            @await Html.PartialAsync("_product", product)
                        </div>
                    }
                </div>
            </div>
        </div>

