
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>

<hr />
<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">E-mail</label>
                <div class="col-sm-10">
                    <input class="form-control" type="email" name="email"/> 
                </div>
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary">Giriş</button>
            </div>
        </div>
    </div>
</form>
