<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Ticaret</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


</head>
<body>

    @await Html.PartialAsync("_navbar")

    <main class="my-3">
        <div class="container">
            @if (TempData["message"] != null)
            {
               <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("message"))" />
            }
            
            @RenderBody()
        </div>
    </main>

    <footer class="page-footer bg-dark text-white text-center" style="height: 100px; width: 100% !important; padding: 2rem !important; margin-bottom:0px !important; position: relative !important; bottom: 0 !important;">
        <div class="container">
            Shop App
        </div>
    </footer>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    @RenderSection("Scripts", false)
</body>

</html>
