<div class="navbar bg-danger navbar-dark navbar-expand-sm">
    <div class="container">
        <a href="/" class="navbar-brand">Shopapp</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/products" class="nav-link">Products</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a href="" class="nav-link">Cart</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Orders</a>
                </li>
                @if (User.IsInRole("Admin"))
                {

                    <li class="nav-item">
                        <a href="/admin/categories" class="nav-link">Admin Categories</a>
                    </li>

                    <li class="nav-item">
                        <a href="/admin/products" class="nav-link">Admin Products</a>
                    </li>

                    <li class="nav-item">
                        <a href="/admin/role" class="nav-link">Admin Roles</a>
                    </li>

                    <li class="nav-item">
                        <a href="/admin/user/list" class="nav-link">Users</a>
                    </li>

                }
            }
        </ul>

            

        <ul class="navbar-nav ml-auto">

            @if (User.Identity.IsAuthenticated)
            {<!--Eðer giriþ yapýldýysa-->

                <li class="nav-item">
                    <a href="/account/manager" class="nav-link">@User.Identity.Name</a>
                </li>


                <li class="nav-item">
                    <a href="/account/logout" class="nav-link">Logout</a>
                </li>


            }
            else
            {

                <li class="nav-item">
                    <a href="/account/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/account/register" class="nav-link">Register</a>
                </li>

            }
        </ul>
    </div>
</div>