  <div class="navbar bg-danger navbar-dark navbar-expand-sm">
        <div class="container">
            <a href="/" class="navbar-brand">Shopapp</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/products" class="nav-link">Products</a>
                </li>
                 <li class="nav-item">
                    <a href="" class="nav-link">Cart</a>
                </li>
                  <li class="nav-item">
                    <a href="" class="nav-link">Orders</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="admin" asp-action="createproduct" class="nav-link">Add Product</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="admin" asp-action="productlist" class="nav-link">Admin Products</a>
                </li>
            </ul>

            <form action="/product/list" class="form-inline">
                <input name="q" type="text" class="form-control mr-2" placeholder="Search">
                <button type="submit" class="btn btn-outline-light mr-0">Search</button>
            </form>

        </div>
    </div>