@model Product

<div class="card mb-2 ml-3">
    <img class="card-img-top" src="~/img/@Model.ImageUrl" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <small class="text-muted">
            <i class="fas fa-lira-sign"></i>@Model.Price
        </small>
    </div>
    <div class="card-footer text-center">
        <a asp-controller="shop" asp-action="Details" asp-route-productname="@Model.Url" class="btn btn-primary btn-m">Details</a>
        @if (User.Identity.IsAuthenticated)
        {
                <form asp-controller="Cart" asp-action="AddToCard" style="display:inline;">
                    <input type="hidden" name="productId" value="@Model.ProductId" />
                    <input type="hidden" name="quantity" value="1" />
                    <button type="submit" class="btn btn-primary btn-sm">Add To Cart</button>

                </form>
        }



    </div>
</div>   