<div class="card">
    <div class="card-header">
        <h5>Search</h5>
    </div>
    <div class="card-body">
        <form action="/search">
            <div class="form-group">
                <input name="q" type="text" class="form-control mr-2" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-dark btn-sm mr-0 btn-block">Search</button>
        </form>
    </div>
</div>




